body {
    font-family: arial,sans-serif;
    font-size: small;
    background-color: #e9ecef;
}

th,
td {
    font-weight: normal;
    font-size: small;
}

a {
    color: inherit;
    font-size: inherit;
}

a:hover,
a:focus {
    color: inherit;
}

.fullScreen {
    font-family: arial,sans-serif;
    font-size: small;
    background: #e9ecef;
    width: 100%;
    height: 100%;
}

.navbar {
    min-width: 801px;
}

.bg-dark {
    background: #1d2124 linear-gradient(to top, #1d2124, #495057);
}

.container {
    min-width: 800px;
    padding: 0;
}

.card {
    margin: 1.25rem -1px 1.25rem 0;
    /*border-color: #0b3255;*/
    border-color: darkgray;
}

.card-header {
    padding: .35rem 1.25rem;
    margin-bottom: -1px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.075), transparent);
    border-radius: calc(0.25rem - 1px);
}


.card-header div {
    margin-left: .25rem;
    padding: .3rem 0;
    font-size: inherit;
}

.card-body {
    overflow: auto;
    margin-top: .25rem;
}

.dropdown-menu {
    border-color: #1d2124;
}

.table th,
.table td {
    max-width: 20rem;
    overflow: hidden;
    white-space: unset;
}

.btn-sm {
    font-size: inherit;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
    font-size: inherit;
}


.btn-link:focus,
.btn-link.focus {
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
}

.btn-link:hover {
    color: inherit;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}

.btn-outline-dark {
    color: #343a40;
    background-color: white;
    border-color: #343a40;
}

.card-header-cnt .btn-outline-dark,
.card-header-cnt .btn-outline-success,
.card-header-cnt .btn-outline-primary,
.card-header-cnt .btn-outline-danger {
    border: none;
}

.form-control-sm {
    font-size: inherit;
}

.col-form-label-sm {
    font-size: inherit;
    text-align: right;
}

.btn-link {
    color: inherit;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 0;
}

.alert {
    margin-bottom: .25rem;
    padding: 0.5rem 1.25rem;
}

.alert-dismissible .close {
    padding: 0.5rem 1.25rem;
}

.modal {
    top: 10%;
    bottom: inherit;
    overflow: auto!important;
}

.overflow-auto {
    overflow: auto!important;
}

.smaller {
    font-size: smaller;
}

.dropdown-left {
    right: 0;
    left: auto;
}

.dropdown-right {
    right: auto;
    left: 0;
}

.custom-select-sm {
    font-size: inherit;
    font-weight: inherit;
    padding-top: calc(0.25rem + 1px);
    padding-bottom: calc(0.25rem + 1px);
}

.dropdown-item {
    font-size: small;
}

.navbar {
    min-height: 3rem;
    padding: 0 2rem;
}

.navbar .form-control {
    font-size: smaller;
    background-color: #e9ecef;
    border-radius: .5rem;
}

.progress {
    margin-bottom: .25rem;
}

.progress:last-child {
    margin-bottom: 0;
}
