
.header .card-body {
    min-height: 320px;
}

.device {
    /*border-radius: .25rem;*/
    /*border-color: darkgray;*/
}

.device .card-header .btn {
    color: black;
}

.modal-console {
    min-width: 802px;
    min-height: 660px;
}

.modal-console .modal-content {
    border: none;
    border-radius: 0;
    background-color: inherit;
}

.modal-console .modal-body {
    padding: 0;
    margin: 0;
}
