
.dl-horizontal {
    padding: .25rem .5rem;
}

.header .card-body {
    min-height: 240px;
}

.device {
    border-radius: .25rem;
    border-color: darkgray;
}

.device .card-header {
    /*border-bottom: 1px solid #0b3255;;*/
}

.device .card-header .btn {
    color: black;
}

.modal-console {
    min-width: 802px;
    min-height: 660px;
}

.modal-console .modal-content {
    border: none;
    border-radius: 0;
    background-color: inherit;
}

.modal-console .modal-body {
    padding: 0;
    margin: 0;
}
