.instance {
    /*border-color: #f8f9fa;*/
}

.dl-horizontal {
    padding: .25rem .5rem;
}

.instance .card-body {
    min-height: 230px;
}

.instance .btn-spot {
    border: 1px solid #cccccc;
    padding: 0px;
    border-radius: .5rem;
    min-height: 1rem;
    min-width: 1.25rem;
    background-color: inherit;
}

.instance .btn-spot:hover,
.instance .btn-spot:focus{
    text-decoration: none;
    /*background-color: black;*/
    /*color: #b21f2d;*/
    border-color: #fdfdfe;
}

.device {
    border-radius: .25rem;
    border-color: darkgray;
}

.device .card-header {
    /*border-bottom: 1px solid #0b3255;;*/
}

.device .card-header .btn {
    color: black;
}

.device .card-body {
    /*min-height: 300px;*/
    /*max-height: 430px;*/
}

.modal-console {
    min-width: 800px;
    max-width: 100px;
    min-height: 600px;
    max-height: 600px;
}

.modal-console .modal-content {
    border: none;
    border-radius: 0;
    background-color: inherit;
}

.modal-console .modal-body {
    padding: 1rem;
    margin: 0;
}
