.modal {
    overflow: auto!important;
}

@media (min-height: 800px) {
    .modal-dialog {
        margin: 8rem auto;
    }
}

@media (min-height: 600px) {
    .modal-dialog {
        margin: 4.75rem auto;
    }
}

@media (max-height: 600px) {
    .modal-dialog {
        margin: 2.75rem auto;
    }
}

.modal-dialog {
    min-height: 200px;
}

.modal-lg {
    min-width: 680px;
    min-height: 200px;
}

.modal-body .card {
    border: none;
    margin: .5rem 0;
}

.modal-body .card-header {
    color: #cccccc;
    border-radius: .25rem;
}

.modal-body .nav-pills .nav-link.active {
    color: #1e7e34;
    background-color: inherit;
    text-decoration: underline;
}

.modal-body .nav-link {
    display: block;
}

.modal-body form {
    padding: .25rem 1rem;
}

.modal-header h7 {
    font-weight: normal;
}

.modal-footer {
    background-color: #f8f9fa;
}
