<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | LightStar</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/asset/bootstrap/4.0.0/css/bootstrap.css">
    <!-- Optional SmartWizard theme -->
    <link rel="stylesheet" href="/static/asset/smartwizard/css/smart_wizard.css">
    <link rel="stylesheet" href="/static/asset/smartwizard/css/smart_wizard_theme_circles.css">
    <link rel="stylesheet" href="/static/asset/smartwizard/css/smart_wizard_theme_arrows.css">
    <link rel="stylesheet" href="/static/asset/smartwizard/css/smart_wizard_theme_dots.css">
    <!-- LightStar theme -->
    <link rel="stylesheet" href="/static/css/boot.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="container">
    <!-- System -->
    <div name="system" class="card system">
        <div class="card-header">
            <button class="btn btn-link btn-block text-left btn-sm"
                    type="button" data-toggle="collapse"
                    data-target="#collapseSys" aria-expanded="true" aria-controls="collapseSys">
                System Information
            </button>
        </div>
        <div id="collapseSys" class="collapse" aria-labelledby="headingOne" data-parent="#index">
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>Version:</dt>
                <dd>{{.Version.Version}}</dd>
                <dt>Built on:</dt>
                <dd>{{.Version.Date}}</dd>
                <dt>Hypervisor:</dt>
                <dd>{{.Hyper.Name}}</dd>
                <dt>CPU:</dt>
                <dd>{{.Hyper.CpuNum}} | {{.Hyper.CpuVendor}}</dd>
                <dt>Memory</dt>
                <dd>
                    {{prettyBytes .Hyper.MemTotal}} | {{prettyBytes .Hyper.MemFree}} | {{prettyBytes .Hyper.MemCached}}
                </dd>
            </dl>
        </div>
        </div>
    </div>

    <!-- Tasks -->
    <div class="card-no-border">
        <tasks></tasks>
    </div>

    <!-- Instances -->
    <div id="instances" class="card instances">
        <div class="card-header">
            <button class="btn btn-link btn-block text-left btn-sm"
                    type="button" data-toggle="collapse"
                    data-target="#collapseIns" aria-expanded="true" aria-controls="collapseIns">
                Guest Instances
            </button>
        </div>
        <div id="collapseIns" class="collapse show" aria-labelledby="headingOne" data-parent="#index">
        <div class="card-body">
            <!-- Instances buttons -->
            <div class="card-header-cnt">
                <button id="create" type="button" class="btn btn-outline-dark btn-sm"
                        data-toggle="modal" data-target="#instanceCreateModal">
                    create instance
                </button>
                <button id="console" type="button" class="btn btn-outline-dark btn-sm">console</button>
                <button id="start" type="button" class="btn btn-outline-dark btn-sm">start</button>
                <button id="refresh" type="button" class="btn btn-outline-dark btn-sm" >refresh</button>
                <button id="more" type="button" class="btn btn-outline-dark btn-sm dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    operations
                </button>
                <div name="btn-more" class="dropdown-menu">
                    <a id="more-start" class="dropdown-item" href="#">start</a>
                    <a id="more-shutdown" class="dropdown-item" href="#">shutdown</a>
                    <a id="more-reset" class="dropdown-item" href="#">reset</a>
                    <div class="dropdown-divider"></div>
                    <a id="more-suspend" class="dropdown-item" href="#">suspend</a>
                    <a id="more-resume" class="dropdown-item" href="#">resume</a>
                    <div class="dropdown-divider"></div>
                    <a id="more-destroy" class="dropdown-item" href="#">destroy</a>
                    <a id="more-remove" class="dropdown-item" href="#">remove</a>
                </div>
            </div>

            <!-- Instances display -->
            <div class="">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            <input id="on-all" type="checkbox" aria-label="select all instances">
                        </th>
                        <th>ID</th>
                        <th>UUID</th>
                        <th>CPU Time</th>
                        <th>Name</th>
                        <th>CPU</th>
                        <th>Memory</th>
                        <th>State</th>
                    </tr>
                    </thead>
                    <tbody id="display-body">
                    <tr>
                        <td colspan="9" style="text-align: center">loading...</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>

    <!-- DataStore -->
    <div id="datastores" class="card datastores">
        <div class="card-header">
            <button class="btn btn-link btn-block text-left btn-sm"
                    type="button" data-toggle="collapse"
                    data-target="#collapseStore" aria-expanded="true" aria-controls="collapseStore">
                Local DataStores
            </button>
        </div>
        <div id="collapseStore" class="collapse" aria-labelledby="headingOne" data-parent="#index">
            <div class="card-body">
                <!-- DataStore buttons -->
                <div class="card-header-cnt">
                    <button id="create" type="button" class="btn btn-outline-dark btn-sm"
                            data-toggle="modal" data-target="#datastoreCreateModal">
                        create datastore
                    </button>
                    <button id="edit" type="button" class="btn btn-outline-dark btn-sm">edit</button>
                    <button id="delete" type="button" class="btn btn-outline-dark btn-sm">delete</button>
                </div>

                <!-- DataStore display -->
                <div class="l-content-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><input id="on-all" type="checkbox"></th>
                            <th>ID</th>
                            <th>UUID</th>
                            <th>Name</th>
                            <th>Capacity</th>
                            <th>Available</th>
                            <th>State</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $index, $_ := .DataStores}}
                            <tr>
                                <td><input id="on-one" type="checkbox" data="{{.UUID}}"></td>
                                <td>{{$index}}</td>
                                <td><a href="/ui/datastore/{{.UUID}}">{{.UUID}}</a></td>
                                <td>{{.Name}}</td>
                                <td>{{prettyBytes .Capacity}}</td>
                                <td>{{prettyBytes .Available}}</td>
                                <td><span class="{{.State}}">{{.State}}</span></td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Network -->
    <div id="networks" class="card networks">
        <div class="card-header">
            <button class="btn btn-link btn-block text-left btn-sm"
                    type="button" data-toggle="collapse"
                    data-target="#collapseNet" aria-expanded="true" aria-controls="collapseNet">
                Virtual Networks
            </button>
        </div>
        <div id="collapseNet" class="collapse" aria-labelledby="headingOne" data-parent="#index">
            <div class="card-body">
                <!-- Network buttons -->
                <div class="card-header-cnt">
                    <button id="create" type="button" class="btn btn-outline-dark btn-sm"
                            data-toggle="modal" data-target="#networkCreateModal">
                        create network
                    </button>
                    <button id="edit" type="button" class="btn btn-outline-dark btn-sm">edit</button>
                    <button id="delete" type="button" class="btn btn-outline-dark btn-sm">delete</button>
                </div>

                <!-- Network display -->
                <div class="l-content-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><input id="on-all" type="checkbox"></th>
                            <th>ID</th>
                            <th>UUID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Mode</th>
                            <th>State</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $index, $_ := .Networks}}
                            <tr>
                                <td><input id="on-one" type="checkbox" data="{{.UUID}}"></td>
                                <td>{{$index}}</td>
                                <td><a href="/ui/network/{{.UUID}}">{{.UUID}}</a></td>
                                <td>{{.Name}}</td>
                                <td>{{if eq .Address ""}}
                                    --
                                    {{else}}
                                    {{.Address}}/{{.Netmask}}
                                </td>{{end}}
                                <td>{{.Mode}}</td>
                                <td><span class="{{.State}}">{{.State}}</span></td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create instance modal -->
<div id="instanceCreateModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!-- Create datastore modal -->
<div id="datastoreCreateModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!-- Create network modal -->
<div id="networkCreateModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!-- JQuery Javascript -->
<script src="/static/asset/jquery-3.3.1.js"></script>
<script src="/static/asset/popper.js/1.12.9/umd/popper.js"></script>
<!-- Bootstrap Javascript -->
<script src="/static/asset/bootstrap/4.0.0/js/bootstrap.js"></script>
<!-- SmartWizard Javascript -->
<script src="/static/asset/smartwizard/js/jquery.smartWizard.js"></script>
<!-- ART Template Javascript -->
<script src="/static/asset/template-web.js"></script>

<script type="module">
    import {Utils} from "/static/js/com/utils.js";
    import {Instances} from '/static/js/instances.js';
    import {Network} from "/static/js/network.js";
    import {DataStore} from "/static/js/datastore.js";
    import {InstanceCreate} from '/static/js/widget/instance/create.js';
    import {NetworkCreate} from "/static/js/widget/network/create.js";
    import {DataStoreCreate} from "/static/js/widget/datastore/create.js";


    $(document).ready(function() {

        let ins = new Instances({id: '#instances'});
        let createModal = new InstanceCreate({id: '#instanceCreateModal'});
        createModal.onsubmit(ins, function (e) {
            e.data.create(Utils.toJSON(e.array));
        });

        let net = new Network({id: '#networks'});
        let createNetwork = new NetworkCreate({id: '#networkCreateModal'});
        createNetwork.onsubmit(net, function (e) {
            e.data.create(Utils.toJSON(e.array));
        });

        let store = new DataStore({id: '#datastores'});
        let createStore = new DataStoreCreate({id: '#datastoreCreateModal'});
        createStore.onsubmit(store, function (e) {
            e.data.create(Utils.toJSON(e.array));
        });
    });
</script>
</body>
</html>