<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Name}} | Instance</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/asset/bootstrap/4.0.0/css/bootstrap.css">
    <!-- LightStar theme -->
    <link rel="stylesheet" href="/static/css/boot.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/instance.css">
</head>

<body>

<div class="container">
    <div class="card-no-border no-bottom">
        <tasks></tasks>
    </div>
    <div id="instance" class="card instance" data="{{.UUID}}" name="{{.Name}}">
        <div class="card-header">
            <div class="card-just-left">
                <a href="../.." class="none">Home</a>
                &nbsp;&brvbar;&nbsp;
                <a class="none" href="javascript:window.location.reload();">{{.Name}}</a>
                <a class="btn-spot float-right" id="instance-ref" href="javascript:window.location.reload();"></a>
            </div>
        </div>

        <!-- Overview -->
        <div id="collapseOver" class="collapse" aria-labelledby="headingOne" data-parent="#instance">
        <div class="card-body">
            {{$class := "disabled"}}
            {{if eq .State "running"}}
                {{$class = ""}}
            {{end}}
            <!-- Header buttons -->
            <div class="card-header-cnt">
                <div id="console-btns" class="btn-group btn-group-sm" role="group">
                    {{$url := "#"}}
                    {{$spice := "#"}}
                    {{if eq .State "running"}}
                        {{ $url = printf "/ui/console?id=%s&password=%s" .UUID .Password}}
                        {{ $spice = printf "/ui/spice?id=%s&password=%s&type=spice" .UUID .Spice.Password}}
                    {{end}}
                    <button id="console" type="button" class="btn btn-outline-dark {{$class}}"
                            data-target="#consoleModal" data="{{$url}}">
                        Console
                    </button>
                    <button id="consoles" type="button"
                            class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split {{$class}}"
                            data-toggle="dropdown" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div id="console-more" class="dropdown-menu" aria-labelledby="consoles">
                        <a id="console-self" class="dropdown-item" href="#" data="{{$url}}">
                            Open console
                        </a>
                        <a id="console-blank" class="dropdown-item" href="#" data="{{$url}}">
                            Open console in new blank
                        </a>
                        <a id="console-window" class="dropdown-item" href="#" data="{{$url}}">
                            Open console in new window
                        </a>
                        <a id="console-spice" class="dropdown-item" href="#" data="{{$spice}}">
                            Open console by spice
                        </a>
                    </div>
                </div>
                <button id="refresh" type="button" class="btn btn-outline-dark btn-sm">Refresh</button>
                <div id="power-btns" class="btn-group btn-group-sm" role="group">
                    <button id="start" type="button" class="btn btn-outline-dark">
                        Power
                    </button>
                    <button id="power" type="button"
                            class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split {{$class}}"
                            data-toggle="dropdown" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div id="power-more" class="dropdown-menu" aria-labelledby="power">
                        <a id="start" class="dropdown-item" href="#">Power on</a>
                        <a id="shutdown" class="dropdown-item" href="#">Power off</a>
                        <a id="reset" class="dropdown-item" href="#">Reset</a>
                        <div class="dropdown-divider"></div>
                        <a id="destroy" class="dropdown-item" href="#">Destroy</a>
                    </div>
                </div>
                <div id="btns-more" class="btn-group btn-group-sm" role="group">
                    <button id="btns-more" type="button" class="btn btn-outline-dark dropdown-toggle"
                            data-toggle="dropdown" aria-expanded="true" aria-expanded="false">
                        Actions
                    </button>
                    <div name="btn-more" class="dropdown-menu" aria-labelledby="btns-more">
                        <a id="suspend" class="dropdown-item {{$class}}" href="#">Suspend</a>
                        <a id="resume" class="dropdown-item {{$class}}" href="#">Resume</a>
                        <div class="dropdown-divider"></div>
                        <a id="remove" class="dropdown-item" href="#">Remove</a>
                        <a id="dumpxml" class="dropdown-item" href="/api/instance/{{.UUID}}?format=xml">Dump XML</a>
                    </div>
                </div>
            </div>
            <dl class="dl-horizontal">
                <dt>State:</dt>
                <dd><span class="{{.State}}">{{.State}}</span></dd>
                <dt>UUID:</dt>
                <dd>{{.UUID}}</dd>
                <dt>Arch:</dt>
                <dd>{{.Arch}} | {{.Type}}</dd>
                <dt>Processor:</dt>
                <dd>{{.MaxCpu}} | {{.CpuTime}}ms</dd>
                <dt>Memory:</dt>
                <dd>{{prettyKBytes .MaxMem}} | {{prettyKBytes .Memory}}</dd>
            </dl>
        </div>
        </div>
    </div>

    <!-- Virtual Disk -->
    <div id="devices">
    <div id="disk" class="card disk">
        <div class="card-header">
            <button class="btn btn-link btn-block text-left btn-sm"
                    type="button" data-toggle="collapse"
                    data-target="#collapseDis" aria-expanded="true" aria-controls="collapseDis">
                Virtual Disk
            </button>
        </div>
        <div id="collapseDis" class="collapse" aria-labelledby="headingOne" data-parent="#devices">
        <div class="card-body">
            <div class="card-header-cnt">
                <button id="create" type="button" class="btn btn-outline-dark btn-sm"
                        data-toggle="modal" data-target="#diskCreateModal">
                    Attach disk
                </button>
                <button id="edit" type="button" class="btn btn-outline-dark btn-sm">Edit</button>
                <button id="remove" type="button" class="btn btn-outline-dark btn-sm">Remove</button>
                <button id="refresh" type="button" class="btn btn-outline-dark btn-sm" >Refresh</button>
            </div>
            <div class="">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><input id="on-all" type="checkbox"></th>
                        <th>ID</th>
                        <th>Bus</th>
                        <th>Device</th>
                        <th>Source</th>
                        <th>Address</th>
                        <th>Format</th>
                    </tr>
                    </thead>
                    <tbody id="display-table">
                    <!-- Loading... -->
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>

    <!-- Interface -->
    <div id="interface" class="card interface">
        <div class="card-header">
            <button class="btn btn-link btn-block text-left btn-sm"
                    type="button" data-toggle="collapse"
                    data-target="#collapseInt" aria-expanded="true" aria-controls="collapseInt">
                Network Interface
            </button>
        </div>
        <div id="collapseInt" class="collapse" aria-labelledby="headingOne" data-parent="#devices">
        <div class="card-body">
            <div class="card-header-cnt">
                <button id="create" type="button" class="btn btn-outline-dark btn-sm"
                        data-toggle="modal" data-target="#interfaceCreateModal">
                    Attach one
                </button>
                <button id="edit" type="button" class="btn btn-outline-dark btn-sm">Edit</button>
                <button id="remove" type="button" class="btn btn-outline-dark btn-sm">Remove</button>
                <button id="refresh" type="button" class="btn btn-outline-dark btn-sm" >Refresh</button>
            </div>
            <div class="">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><input id="on-all" type="checkbox" aria-label="select all interfaces"></th>
                        <th>ID</th>
                        <th>Model</th>
                        <th>Device</th>
                        <th>Mac</th>
                        <th>Address</th>
                        <th>Source</th>
                    </tr>
                    </thead>
                    <tbody id="display-table">
                    <!-- Loading -->
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<!-- Console modal -->
<div id="consoleModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-console">
        <div class="modal-content">
            <div class="modal-body">
                <iframe width="800px" height="600px" src="#" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<!-- Create disk modal -->
<div id="diskCreateModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!-- Create interface modal -->
<div id="interfaceCreateModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!-- Context menu -->
<div class="dropdown-menu contextmenu">
    <a id="refresh" class="dropdown-item" href="#" onclick="javascript:window.location.reload();">Refresh</a>
    <div class="dropdown-divider"></div>
    <a id="back" class="dropdown-item" href="#" onclick="javascript:window.history.back();">Go back</a>
    <a id="back" class="dropdown-item" href="#" onclick="javascript:window.history.forward();">Go forward</a>
    <div class="dropdown-divider"></div>
    <a id="home" class="dropdown-item" href="#" onclick="javascript:window.open('..', '_self')">Go home</a>
</div>

<!-- JQuery Javascript -->
{{/*<script src="/static/asset/jquery-3.3.1.js"></script>*/}}
<script src="/static/asset/jquery-1.12.4.js"></script>
<script src="/static/asset/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/asset/popper.js/1.12.9/umd/popper.js"></script>
<!-- Bootstrap Javascript -->
<script src="/static/asset/bootstrap/4.0.0/js/bootstrap.js"></script>
<!-- ART Template Javascript -->
<script src="/static/asset/template-web.js"></script>

<script type="module">
    import {Utils} from "/static/js/com/utils.js";
    import {Instance} from '/static/js/instance.js';
    import {DiskCreate} from '/static/js/widget/disk/create.js';
    import {InterfaceCreate} from '/static/js/widget/interface/create.js';
    import {Filters} from "/static/js/filter.js";
    import {Collapse} from "/static/js/widget/collapse.js";

    $(document).ready(function() {
        new Filters();

        // collapse
        $('#collapseOver').fadeIn('slow');
        $('#collapseOver').collapse();
        new Collapse({
            pages: [
                {id: '#collapseInt', name: 'interface'},
                {id: '#collapseDis', name: 'disk'},
            ],
            default: "interface",
        });

        let instance = new Instance({
            id: "#instance",
            disks: {id: "#disk"},
            interfaces: {id: "#interface"},
        });

        // load disks and interfaces.
        new DiskCreate({id: '#diskCreateModal'})
            .onsubmit(instance, function (e) {
                e.data.disk.create(Utils.toJSON(e.form));
            });
        new InterfaceCreate({id: '#interfaceCreateModal'})
            .onsubmit(instance, function (e) {
                e.data.interface.create(Utils.toJSON(e.form));
            });

        // register console draggable.
        $(function (e) {
            $('#consoleModal').draggable();
        });

        // register context menu.
        $(document).on("contextmenu", function (e) {
            $('.contextmenu').css("left", e.clientX);
            $('.contextmenu').css("top", e.clientY);
            $('.contextmenu').show();
            return false;
        });
        $(document).on("click", function (e) {
            $('.contextmenu').hide();
        });
    });
</script>
</body>
</html>
