<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Name}} | Instance</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/asset/bootstrap/4.0.0/css/bootstrap.css">
    <!-- LightStar theme -->
    <link rel="stylesheet" href="/static/css/boot.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>

<div class="container">
    <div class="card-no-border no-bottom">
        <tasks></tasks>
    </div>
    <div id="instance" class="card instance" data="{{.UUID}}" name="{{.Name}}">
        <div class="card-header">
            <div class="card-just-left">
                <a href="../.." class="none">Home</a> |
                <a class="none" href="javascript:window.location.reload();">{{.Name}}</a>
            </div>
        </div>

        <!-- Header buttons -->
        <div class="card-none no-bottom">
            <div class="card no-border no-bottom">
                <div class="card-header-btn">
                    <div id="console" class="btn-group btn-group-sm">
                        {{$url := "#"}}
                        {{if eq .State "running"}}
                            {{ $url = printf "/ui/console?instance=%s&password=%s" .UUID .Password}}
                        {{end}}
                        <a type="button" class="btn btn-outline-dark btn-sm" href="{{$url}}">console</a>
                        <button id="console-more" type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" data-target="console-more" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="console-more">
                            <a class="dropdown-item" href="{{$url}}" target="_blank">new blank</a>
                        </div>
                    </div>
                    <button id="start" type="button" class="btn btn-outline-dark btn-sm">start</button>
                    <a id="refresh" type="button" class="btn btn-outline-dark btn-sm"
                       href="javascript:window.location.reload();">refresh</a>
                    <div id="console" class="btn-group" role="gropu">
                        <button id="btns-more" type="button" class="btn btn-outline-dark btn-sm dropdown-toggle"
                                data-toggle="dropdown" aria-expanded="true" aria-expanded="false">
                            operations
                        </button>
                        <div name="btn-more" class="dropdown-menu" aria-labelledby="btns-more">
                            <a id="more-start" class="dropdown-item" href="#">start</a>
                            <a id="shutdown" class="dropdown-item" href="#">shutdown</a>
                            <a id="reset" class="dropdown-item" href="#">reset</a>
                            <div class="dropdown-divider"></div>
                            <a id="suspend" class="dropdown-item" href="#">suspend</a>
                            <a id="resume" class="dropdown-item" href="#">resume</a>
                            <div class="dropdown-divider"></div>
                            <a id="destroy" class="dropdown-item" href="#">destroy</a>
                            <a id="remove" class="dropdown-item" href="#">remove</a>
                            <div class="dropdown-divider"></div>
                            <a id="dumpxml" class="dropdown-item" href="/api/instance/{{.UUID}}?format=xml">dump XML</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Overview -->
        <div class="card-body no-top no-bottom">
            <div name="overview" class="card overview no-top no-bottom">
                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>UUID:</dt>
                        <dd>{{.UUID}}</dd>
                        <dt>Arch:</dt>
                        <dd>{{.Arch}} | {{.Type}}</dd>
                        <dt>CPU:</dt>
                        <dd>{{.MaxCpu}} | {{.CpuTime}}ms</dd>
                        <dt>Memory</dt>
                        <dd>{{prettyKBytes .MaxMem}} | {{prettyKBytes .Memory}}</dd>
                        <dt>State:</dt>
                        <dd><span class="{{.State}}">{{.State}}</span></dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="card-body no-top">
            <!-- Virtual Disk -->
            <div id="disk" class="card disk">
                <div class="card-header">
                    <button class="btn btn-link btn-block text-left btn-sm"
                            type="button" data-toggle="collapse"
                            data-target="#collapseDis" aria-expanded="true" aria-controls="collapseDis">
                        Virtual Disk
                    </button>
                </div>
                <div id="collapseDis" class="collapse" aria-labelledby="headingOne" data-parent="#instance">
                <div class="card-body">
                    <div class="card-header-cnt">
                        <button id="create" type="button" class="btn btn-outline-dark btn-sm"
                                data-toggle="modal" data-target="#diskCreateModal">
                            create
                        </button>
                        <button id="edit" type="button" class="btn btn-outline-dark btn-sm">edit</button>
                        <button id="remove" type="button" class="btn btn-outline-dark btn-sm">remove</button>
                    </div>
                    <div class="">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><input id="on-all" type="checkbox"></th>
                                <th>ID</th>
                                <th>Bus</th>
                                <th>Device</th>
                                <th>Source</th>
                                <th>Address</th>
                                <th>Format</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{range $index, $_ := .Disks}}
                                <tr>
                                    <td><input id="on-one" type="checkbox" data="{{.Device}}"></td>
                                    <td>{{$index}}</td>
                                    <td>{{.Bus}}</td>
                                    <td>{{.Device}}</td>
                                    <td>{{.Source}}</td>
                                    <td><span>
                                        {{if eq .AddrType "pci"}}
                                            pci:{{prettyPCI .AddrDomain .AddrBus .AddrSlot .AddrFunc}}
                                        {{else if eq .AddrType "drive"}}
                                            drv:{{prettyDrive .AddrCtl .AddrBus .AddrTgt .AddrUnit}}
                                        {{end}}</span>
                                    </td>
                                    <td>{{.Format}}</td>
                                </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>

            <!-- Interface -->
            <div id="interface" class="card interface">
                <div class="card-header">
                    <button class="btn btn-link btn-block text-left btn-sm"
                            type="button" data-toggle="collapse"
                            data-target="#collapseInt" aria-expanded="true" aria-controls="collapseInt">
                        Network Interface
                    </button>
                </div>
                <div id="collapseInt" class="collapse show" aria-labelledby="headingOne" data-parent="#instance">
                <div class="card-body">
                    <div class="card-header-cnt">
                        <button id="create" type="button" class="btn btn-outline-dark btn-sm"
                                data-toggle="modal" data-target="#interfaceCreateModal">
                            create
                        </button>
                        <button id="edit" type="button" class="btn btn-outline-dark btn-sm">edit</button>
                        <button id="remove" type="button" class="btn btn-outline-dark btn-sm">remove</button>
                    </div>
                    <div class="">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><input id="on-all" type="checkbox" aria-label="select all interfaces"></th>
                                <th>ID</th>
                                <th>Model</th>
                                <th>Device</th>
                                <th>Mac</th>
                                <th>Address</th>
                                <th>Source</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{range $index, $_ := .Interfaces}}
                            <tr>
                                <td><input id="on-one" type="checkbox" data="{{.Address}}"></td>
                                <td>{{$index}}</td>
                                <td>{{.Model}}</td>
                                <td>{{.Device}}</td>
                                <td>{{.Address}}</td>
                                <td><span>
                                {{if eq .AddrType "pci"}}
                                    pci:{{prettyPCI .AddrDomain .AddrBus .AddrSlot .AddrFunc}}
                                {{end}}</span>
                                </td>
                                <td>{{.Source}}</td>
                            </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </instance>
</div>
<!-- Create disk modal -->
<div id="diskCreateModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
</div>
<!-- Create interface modal -->
<div id="interfaceCreateModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
</div>
<!-- JQuery Javascript -->
<script src="/static/asset/jquery-3.3.1.js"></script>
<script src="/static/asset/popper.js/1.12.9/umd/popper.js"></script>
<!-- Bootstrap Javascript -->
<script src="/static/asset/bootstrap/4.0.0/js/bootstrap.js"></script>
<script type="module">
    import {Utils} from "/static/js/com/utils.js";
    import {Instance} from '/static/js/instance.js';
    import {DiskCreate} from '/static/js/widget/disk/create.js';
    import {InterfaceCreate} from '/static/js/widget/interface/create.js';


    let instance = new Instance({
        id: "#instance",
        disks: {id: "#disk"},
        interfaces: {id: "#interface"},
    });

    new DiskCreate({id: '#diskCreateModal'})
        .onsubmit(instance, function (e) {
            e.data.disk.create(Utils.toJSON(e.array));
        });
    new InterfaceCreate({id: '#interfaceCreateModal'})
        .onsubmit(instance, function (e) {
            e.data.interface.create(Utils.toJSON(e.array));
        });
</script>
</body>
</html>
