.container {
    min-width: 800px;
    padding: 0;
}

.card {
    margin: 1.25rem -1px 1.25rem 0;
    border-color: #0b3255;
    border-radius: 0;
}

.card-header:first-child {
    border-radius: 0;
}

.card-header {
    padding: .25rem 1.25rem;
    background-color: #13508d;
    color: white;
    /*border-color: #0b3255;*/
    /*background-color: inherit;*/
    border-radius: 0;
    border-bottom: 1px solid #0b3255;
    /*color: inherit;*/
    margin-bottom: -1px;
}

.card-header a {
    padding: .25rem;
}

.card-header .btn-sm {
    padding-left: 0;
}

.card-body {
    overflow: auto;
    margin-top: .25rem;
}

.dropdown-menu {
    border-color: #1d2124;
}

.table th,
.table td {
    max-width: 20rem;
    overflow: hidden;
    white-space: unset;
}

.btn-sm {
    font-size: inherit;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
    font-size: inherit;
}


.btn-link:focus,
.btn-link.focus {
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
}

.btn-link:hover {
    color: inherit;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}

.form-control-sm {
    font-size: inherit;
}

.col-form-label-sm {
    font-size: inherit;
    text-align: right;
}

.btn-link {
    color: inherit;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 0;
}

.alert {
    margin-bottom: .25rem;
    padding: 0.5rem 1.25rem;
}

.alert-dismissible .close {
    padding: 0.5rem 1.25rem;
}

.modal {
    top: 10%;
    bottom: inherit;
    overflow: auto!important;
}

.overflow-auto {
    overflow: auto!important;
}

/* wizard */

.sw-modal {
    min-width: 760px;
}

.sw-main {
}

.sw-toolbar-bottom {
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.sw-main ul.step-anchor {
    margin: 0.5rem 1rem;
}

.sw-main .sw-container {
    margin: 1.5rem;
    min-height: 200px;
}

.custom-select-sm {
    font-size: inherit;
    font-weight: inherit;
    padding-top: calc(0.25rem + 1px);
    padding-bottom: calc(0.25rem + 1px);
}
