.container {
    min-width: 800px;
    padding: 0;
}

.card {
    margin: 16px 10px;
    border-color: #6c757d;
}

.card-header {
    padding: .25rem 1.25rem;
    background-color: #ced4da;
}

.dropdown-menu {
    border-color: #1d2124;
}

.btn-sm {
    font-size: small;
}

.alert {
    margin-bottom: .25rem;
    padding: 0.5rem 1.25rem;
}

.alert-dismissible .close {
    padding: 0.5rem 1.25rem;
}

.modal {
    top: 10%;
    bottom: inherit;
    overflow: auto!important;
}

.sw-modal {
    min-width: 760px;
}

.sw-main {
}

.sw-toolbar-bottom {
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.sw-main ul.step-anchor {
    margin: 0.5rem 1rem;
}

.sw-main .sw-container {
    margin: 1.5rem;
    min-height: 200px;
}

.col-form-label-sm {
    font-size: inherit;
}

.custom-select-sm {
    font-size: inherit;
    font-weight: inherit;
    padding-top: calc(0.25rem + 1px);
    padding-bottom: calc(0.25rem + 1px);
}