
.container {
    margin: 10% auto auto;
}

.notice {
    min-width: 20rem;
    max-width: 32rem;
    max-height: 32rem;
    margin: auto auto 1rem;
}

.login {
    min-width: 20rem;
    max-width: 32rem;
    max-height: 32rem;
    margin: auto;
    border-radius: 0.25rem;
}

.login .card-header {
    text-align: center;
    padding: 0.75rem 1.25rem;
}

.login label {
    text-align: center;
}