@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        /* text-align: right; */
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: normal;
    }
    .dl-horizontal dd {
        margin-left: 180px;
    }
}

body {
    font-family: Arial;
    font-size: small;
    background: #fdfcf8;
}

th,
td {
    font-weight: normal;
    font-size: small;
}

a {
    color: inherit;
    font-size: small;
}

a:hover,
a:focus {
    color: inherit;
}

/* Index */
.card-header-cnt,
.card-header-btn {
    margin-bottom: 10px;
}

.card-header-dis {
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    padding: 0 1.25rem;
}

.card-header-dis ol,
.card-header-dis ul,
.card-header-dis dl {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.running,
.active {
    color: darkgreen;
}

.paused,
.blocked,
.pm-suspended {
    color: chocolate;
}

.no-state,
.crashed,
.unknown {
    color: black;
}

.building {
    color: chocolate;
}

.degraded,
.inactive,
.inaccessible,
.unknown {
    color: black;
}

.card-no-border {
    margin: 1.25rem -1px 1.25rem 0;
}

.card-none {
    padding: .25rem 1.25rem;
}

.background-light {
    background-color: #f8f9fa;
}

.no-top {
    padding-top: 0;
    margin-top: 0;
}

.no-bottom {
    padding-bottom: 0;
    margin-bottom: 0;
}

.no-border {
    border: none;
}

select {
    display: block;
    max-width: 100%;
    padding: .375rem 1.75rem 0.375rem .75rem;
    font-size: inherit;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    background: #fff
        url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right 0.75rem center;
    background-size: 8px 10px;
    -webkit-appearance: none;
    border-radius: 0.2rem;
}

.select-unit {
    width: auto;
    min-width: 4rem;
}

.select-md {
    width: 60%;
}

.select-lg {
    width: 100%;
}

.select-unit-right {
    width: auto;
    margin-left: 1rem;
}

.select-twice-md {
    width: auto;
    max-width: 100px;
    margin-left: 1rem;
}

.input-number {
    max-width: 30%;
}

.input-number-lg {
    max-width: 60%;
}

.input-string-sm,
.input-select-sm {
    width: 60%;
}

.input-string,
.input-select {
    width: 100%;
}


/* instances */

.system,
.datastores,
.networks {
    border-color: darkgray;
}

.system .card-header,
.datastores .card-header,
.networks .card-header {
    color: inherit;
    background-color: inherit;
    border-bottom: 1px solid #0b3255;;
}

.system .card-header:first-child,
.datastores .card-header:first-child,
.networks .card-header:first-child {
    border-radius: .25rem;
}

.instances .card-body,
.datastores .card-body,
.networks .card-body {
    min-height: 430px;
    max-height: 430px;
}


/* 404 */

.error {
    border-color: darkgray;
}

.error .card-header {
    color: inherit;
    background-color: inherit;
    border-bottom: 1px solid #0b3255;;
}

.error .card-header:first-child {
    border-radius: .25rem;
}

/* Instance */

.instance {
    /*border-color: #f8f9fa;*/
}

.instance .card {
    border-radius: .25rem;
    border-color: darkgray;
}

.instance .card .card-header:first-child {
    border-radius: .25rem;
}

.instance .card .card-header {
    border-radius: .25rem;
}

.instance .card-header div {
    margin-left: .25rem;
    padding: .25rem 0;
    font-size: inherit;
}

.disk, .interface {
    /*border-color: #6c757d;*/
}

.disk .card-header,
.interface .card-header {
    background-color: inherit;
    border-bottom: 1px solid #0b3255;;
}

.disk .card-header .btn,
.interface .card-header .btn {
    color: black;
}

.disk .card-body,
.interface .card-body {
    min-height: 300px;
    max-height: 430px;
}