@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        /* text-align: right; */
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: normal;
    }
    .dl-horizontal dd {
        margin-left: 180px;
    }
}

body {
    font-family: Arial;
    font-size: small;
    background: #fdfcf8;
}

th, td {
    font-weight: normal;
    font-size: small;
}

a {
    color: inherit;
    font-size: small;
}

/* Index */
.card-header-cnt, .card-header-btn {
    margin-bottom: 10px;
}

.card-header-dis {
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    padding: 0 1.25rem;
}

.card-header-dis ol, .card-header-dis ul, .card-header-dis dl {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.running {
    color: darkgreen;
}

.paused, .blocked, .pmsuspended {
    color: chocolate;
}

.nostate, .crashed, .unknown {
    color: black;
}

.instances .card-body {
    min-height: 430px;
}

.card-no-border {
    margin: 16px 10px;
}

.card-none {
    padding: .25rem 1.25rem;
}

.card-just-left {
    margin-left: 16px;
}

.background-light {
    background-color: #f8f9fa;
}

.no-top {
    padding-top: 0;
    margin-top: 0;
}

.no-bottom {
    padding-bottom: 0;
    margin-bottom: 0;
}

.no-border {
    border: none;
}

.select-simple {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: inherit;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    background: #fff
        url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right 0.75rem center;
    background-size: 8px 10px;
    -webkit-appearance: none;
    border-radius: 0.2rem;
}

.select-unit {
    width: auto;
    min-width: 4rem;
    padding: 0.375rem 0.75rem;
    font-size: inherit;
}

.select-middle {
    max-width: 50%;
    padding: 0.375rem 0.75rem;
    font-size: inherit;
}

.select-unit-right {
    width: auto;
    min-width: 4rem;
    margin-left: 1rem;
    padding: 0.375rem 0.75rem;
    font-size: inherit;
}

.input-number {
    max-width: 30%;
}

.input-number-lg {
    max-width: 50%;
}

.input-string-sm, .input-select-sm {
    width: 60%;
}

.input-string, .input-select {
    width: 100%;
}

/* Instance */

.instance {
    /*border-color: #f8f9fa;*/
}

.disk, .interface {
    border-color: #6c757d;
}

.disk .card-header, .interface .card-header {
    background-color: #f8f9fa;
    border-color: #6c757d;
}

