@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        /* text-align: right; */
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: normal;
    }
    .dl-horizontal dd {
        margin-left: 180px;
    }
}

body {
    font-family: Arial;
    font-size: small;
    background: #fdfcf8;
}

th, td {
    font-weight: normal;
    font-size: small;
}

a {
    font-size: small;
}

.card-header-cnt {
    margin-bottom: 10px;
}

.running {
    color: darkgreen;
}

.paused, .blocked, .pmsuspended {
    color: chocolate;
}

.nostate, .crashed, .unknown {
    color: black;
}

#instances {
    min-height: 430px;
}

.card-no-border {
    margin: 16px 10px;
}