.modal-body .card {
    border: none;
}

.modal-body .card-header {
    color: #cccccc;
    border-radius: .25rem;
    margin-bottom: 2rem;
}

.modal-body .nav-pills .nav-link.active {
    color: white;
    background-color: inherit;
    text-decoration: underline;
    /*border: 1px solid #cccccc;*/
}

.modal-body .nav-link {
    display: block;
    padding: 0.25rem 1.25rem;
}

#instanceCreateModal .modal-body {
    min-height: 320px;
}