<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | LightStar</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/asset/bootstrap/4.0.0/css/bootstrap.css">

    <!-- Optional SmartWizard theme -->
    <link rel="stylesheet" href="static/asset/smartwizard/css/smart_wizard.css">
    <link rel="stylesheet" href="static/asset/smartwizard/css/smart_wizard_theme_circles.css">
    <link rel="stylesheet" href="static/asset/smartwizard/css/smart_wizard_theme_arrows.css">
    <link rel="stylesheet" href="static/asset/smartwizard/css/smart_wizard_theme_dots.css">

    <!-- Lightstar theme -->
    <link rel="stylesheet" href="static/css/boot.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <div class="container">
        <div name="system" class="card">
            <div class="card-header">
                <div>
                    System Information
                </div>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>Version:</dt>
                    <dd>{{ .Version.Version }}</dd>
                    <dt>Built on:</dt>
                    <dd>{{ .Version.Date }}</dd>
                </dl>
            </div>
        </div>
        <div class="card-no-border">
            <errors></errors>
        </div>
        <div name="instances" class="card">
            <div class="card-header">
                <div>
                    Instances
                </div>
            </div>
            <div class="card-body">
                <div class="card-header-cnt">
                    <div class="btn-group">
                        <instance-create>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                    data-toggle="modal" data-target="#instanceCreateModal">
                                create instance
                            </button>
                        </instance-create>
                    </div>
                    <div class="btn-group">
                        <instance-start>
                            <button type="button" class="btn btn-outline-dark btn-sm">start</button>
                        </instance-start>
                    </div>
                    <div class="btn-group">
                        <instance-shutdown>
                            <button type="button" class="btn btn-outline-dark btn-sm">shutdown</button>
                        </instance-shutdown>
                    </div>
                    <div class="btn-group">
                        <instance-refresh>
                            <a type="button" class="btn btn-outline-dark btn-sm" href=".">refresh</a>
                        </instance-refresh>
                    </div>
                    <div class="btn-group">
                        <instance-more>
                            <button type="button" class="btn btn-outline-dark btn-sm dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                operations
                            </button>
                            <div name="btn-more" class="dropdown-menu">
                                <instance-more-start>
                                    <a class="dropdown-item" href="#">start</a>
                                </instance-more-start>
                                <instance-more-shutdown>
                                    <a class="dropdown-item" href="#">shutdown</a>
                                </instance-more-shutdown>
                                <instance-more-reset>
                                    <a class="dropdown-item" href="#">reset</a>
                                </instance-more-reset>
                                <div class="dropdown-divider"></div>
                                <instance-more-suspend>
                                    <a class="dropdown-item" href="#">suspend</a>
                                </instance-more-suspend>
                                <instance-more-resume>
                                    <a class="dropdown-item" href="#">resume</a>
                                </instance-more-resume>
                            </div>
                        </instance-more>
                    </div>
                </div>
                <div class="l-content-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>
                                <instance-on-all>
                                    <input type="checkbox" aria-label="select all instances">
                                </instance-on-all>
                            </th>
                            <th>UUID</th>
                            <th>CPU Time</th>
                            <th>Name</th>
                            <th>CPU</th>
                            <th>Memory</th>
                            <th>State</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range .Instances }}
                        <tr>
                            <td>
                                <instance-on-one>
                                    <input type="checkbox" aria-label="select {{ .Name }}" data="{{ .UUID }}">
                                </instance-on-one>
                            </td>
                            <td>
                                {{ if eq .State "running" }}
                                <a class="text-decoration-none" href="/static/console?instance={{ .UUID }}">{{ .UUID }}</a>
                                {{ else }}
                                <a class="text-decoration-none" href="#">{{ .UUID }}</a>
                                {{ end }}
                            </td>
                            <td>{{ .CpuTime }}ms</td>
                            <td>{{ .Name }}</td>
                            <td>{{ .MaxCpu }}</td>
                            <td>{{ prettyKBytes .MaxMem }}</td>
                            <td><span class="{{ .State }}">{{ .State }}</span></td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-no-border">
            <infos></infos>
        </div>
    </div>

    <!-- Create instance modal -->
    <div id="instanceCreateModal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="instanceCreateModalLabel" aria-hidden="true">
    </div>
    <!-- JQuery Javascript -->
    <script src="static/asset/jquery-3.3.1.js"></script>
    <script src="static/asset/popper.js/1.12.9/umd/popper.js"></script>
    <!-- Bootstrap Javascript -->
    <script src="static/asset/bootstrap/4.0.0/js/bootstrap.js"></script>
    <!-- SmartWizard Javascript -->
    <script src="/static/asset/smartwizard/js/jquery.smartWizard.js"></script>

    <script type="module">
        import {Instance} from './static/js/instance.js';
        import {InstanceCreateModal} from './static/js/widget/modal.js'

        $(document).ready(function() {
            let instance = new Instance();
            let createModal = new InstanceCreateModal();

            createModal.onSubmit(instance, function (e) {
                e.data.create(e.array);
            });
        });
    </script>
</body>
</html>