<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | LightStar</title>
    <link rel="stylesheet" href="static/asset/bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/boot.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <div class="container">
        <div name="system" class="card">
            <div class="card-header">
                <div>
                    System Information
                </div>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>Version:</dt>
                    <dd>{{ .Version.Version }}</dd>
                    <dt>Built on:</dt>
                    <dd>{{ .Version.Date }}</dd>
                </dl>
            </div>
        </div>
        <div class="card-no-border">
            <errors></errors>
        </div>
        <div name="instances" class="card">
            <div class="card-header">
                <div>
                    Instances
                </div>
            </div>
            <div class="card-body">
                <div class="card-header-cnt">
                    <div class="btn-group">
                        <btn-create>
                            <button name="" type="button" class="btn btn-outline-dark btn-sm">create instance</button>
                        </btn-create>
                    </div>
                    <div class="btn-group">
                        <btn-start>
                            <button name="" type="button" class="btn btn-outline-dark btn-sm">start</button>
                        </btn-start>
                    </div>
                    <div class="btn-group">
                        <btn-shutdown>
                            <button name="btn-shutdown" type="button" class="btn btn-outline-dark btn-sm">shutdown</button>
                        </btn-shutdown>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-dark btn-sm dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            operations
                        </button>
                        <div name="btn-more" class="dropdown-menu">
                            <btn-more-start>
                                <a name="btn-start" class="dropdown-item" href="#">start</a>
                            </btn-more-start>
                            <btn-more-shutdown>
                                <a name="btn-shutdown" class="dropdown-item" href="#">shutdown</a>
                            </btn-more-shutdown>
                            <btn-more-reset>
                                <a name="btn-reset" class="dropdown-item" href="#">reset</a>
                            </btn-more-reset>
                            <div class="dropdown-divider"></div>
                            <btn-more-suspend>
                                <a name="btn-suspend" class="dropdown-item" href="#">suspend</a>
                            </btn-more-suspend>
                            <btn-more-resume>
                                <a name="btn-resume" class="dropdown-item" href="#">resume</a>
                            </btn-more-resume>
                        </div>
                    </div>
                </div>
                <div class="l-content-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>UUID</th>
                            <th>CPU Time</th>
                            <th>Name</th>
                            <th>CPU</th>
                            <th>Memory</th>
                            <th>State</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range .Instances }}
                        <tr>
                            <td>
                                <on-instance>
                                    <input name="on-instance" type="checkbox" aria-label="select instance" data="{{ .UUID }}">
                                </on-instance>
                            </td>
                            {{ if eq .State "running" }}
                            <td><a class="text-decoration-none" href="/static/console?instance={{ .UUID }}">{{ .UUID }}</a></td>
                            {{ else }}
                            <td><a class="text-decoration-none" href="#">{{ .Name }}</a></td>
                            {{ end }}
                            <td>{{ .CpuTime }}ms</td>
                            <td>{{ .Name }}</td>
                            <td>{{ .MaxCpu }}</td>
                            <td>{{ prettyKBytes .MaxMem }}</td>
                            <td><span class="{{ .State }}">{{ .State }}</span></td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="static/asset/jquery-3.3.1.js"></script>
    <script src="static/asset/popper.js/1.12.9/umd/popper.js"></script>
    <script src="static/asset/bootstrap/4.0.0/js/bootstrap.js"></script>
    <script type="module">
        import Instance from './static/js/instance.js';
        new Instance();
    </script>
</body>
</html>