<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | LightStar</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/asset/bootstrap/4.0.0/css/bootstrap.css">

    <!-- Optional SmartWizard theme -->
    <link rel="stylesheet" href="static/asset/smartwizard/css/smart_wizard.css">
    <link rel="stylesheet" href="static/asset/smartwizard/css/smart_wizard_theme_circles.css">
    <link rel="stylesheet" href="static/asset/smartwizard/css/smart_wizard_theme_arrows.css">
    <link rel="stylesheet" href="static/asset/smartwizard/css/smart_wizard_theme_dots.css">

    <!-- Lightstar theme -->
    <link rel="stylesheet" href="static/css/boot.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <div class="container">
        <div name="system" class="card">
            <div class="card-header">
                <div>
                    System Information
                </div>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>Version:</dt>
                    <dd>{{ .Version.Version }}</dd>
                    <dt>Built on:</dt>
                    <dd>{{ .Version.Date }}</dd>
                </dl>
            </div>
        </div>
        <div class="card-no-border">
            <errors></errors>
        </div>
        <div name="instances" class="card">
            <div class="card-header">
                <div>
                    Instances
                </div>
            </div>
            <div class="card-body">
                <div class="card-header-cnt">
                    <div class="btn-group">
                        <instance-create>
                            <button type="button" class="btn btn-outline-dark btn-sm"
                                    data-toggle="modal" data-target="#instanceCreate">
                                create instance
                            </button>
                        </instance-create>
                    </div>
                    <div class="btn-group">
                        <instance-start>
                            <button type="button" class="btn btn-outline-dark btn-sm">start</button>
                        </instance-start>
                    </div>
                    <div class="btn-group">
                        <instance-shutdown>
                            <button type="button" class="btn btn-outline-dark btn-sm">shutdown</button>
                        </instance-shutdown>
                    </div>
                    <div class="btn-group">
                        <instance-refresh>
                            <a type="button" class="btn btn-outline-dark btn-sm" href=".">refresh</a>
                        </instance-refresh>
                    </div>
                    <div class="btn-group">
                        <instance-more>
                            <button type="button" class="btn btn-outline-dark btn-sm dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                operations
                            </button>
                            <div name="btn-more" class="dropdown-menu">
                                <instance-more-start>
                                    <a class="dropdown-item" href="#">start</a>
                                </instance-more-start>
                                <instance-more-shutdown>
                                    <a class="dropdown-item" href="#">shutdown</a>
                                </instance-more-shutdown>
                                <instance-more-reset>
                                    <a class="dropdown-item" href="#">reset</a>
                                </instance-more-reset>
                                <div class="dropdown-divider"></div>
                                <instance-more-suspend>
                                    <a class="dropdown-item" href="#">suspend</a>
                                </instance-more-suspend>
                                <instance-more-resume>
                                    <a class="dropdown-item" href="#">resume</a>
                                </instance-more-resume>
                            </div>
                        </instance-more>
                    </div>
                </div>
                <div class="l-content-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>
                                <instance-on-all>
                                    <input type="checkbox" aria-label="select all instances">
                                </instance-on-all>
                            </th>
                            <th>UUID</th>
                            <th>CPU Time</th>
                            <th>Name</th>
                            <th>CPU</th>
                            <th>Memory</th>
                            <th>State</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range .Instances }}
                        <tr>
                            <td>
                                <instance-on-one>
                                    <input type="checkbox" aria-label="select {{ .Name }}" data="{{ .UUID }}">
                                </instance-on-one>
                            </td>
                            <td>
                                {{ if eq .State "running" }}
                                <a class="text-decoration-none" href="/static/console?instance={{ .UUID }}">{{ .UUID }}</a>
                                {{ else }}
                                <a class="text-decoration-none" href="#">{{ .UUID }}</a>
                                {{ end }}
                            </td>
                            <td>{{ .CpuTime }}ms</td>
                            <td>{{ .Name }}</td>
                            <td>{{ .MaxCpu }}</td>
                            <td>{{ prettyKBytes .MaxMem }}</td>
                            <td><span class="{{ .State }}">{{ .State }}</span></td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-no-border">
            <infos></infos>
        </div>
    </div>

    <!-- Create instance modal -->
    <div class="modal fade" id="instanceCreate" tabindex="-1" role="dialog" aria-labelledby="instanceCreateLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="instanceCreateLabel">Create a Instance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Smart Wizard HTML -->
                    <div id="smartWizard">
                        <ul>
                            <li><a href="#step-1">System<br /><small>Configure OS, CPU, and memory</small></a></li>
                            <li><a href="#step-2">Disk<br /><small>Configure Disks</small></a></li>
                            <li><a href="#step-3">Interface<br /><small>Configure VM's interface</small></a></li>
                        </ul>
                        <div>
                            <div id="step-1" class="">
                                <form name="system-config">
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label">CPU number:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="cpuNum" value="2">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">Memory:</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="memorySize" value="2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">GiB</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="step-2" class="">
                                <form name="disk-config">
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label">Disk size:</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="diskSize" value="10">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">GiB</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">ISO location:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="isoFile" value="2">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="step-3" class="">
                                <form name="disk-config">
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-2 col-form-label">Bridge interface:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="bridge" value="virbr0">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- JQuery Javascript -->
    <script src="static/asset/jquery-3.3.1.js"></script>
    <script src="static/asset/popper.js/1.12.9/umd/popper.js"></script>
    <!-- Bootstrap Javascript -->
    <script src="static/asset/bootstrap/4.0.0/js/bootstrap.js"></script>
    <!-- SmartWizard Javascript -->
    <script src="/static/asset/smartwizard/js/jquery.smartWizard.js"></script>

    <script type="module">
        import Instance from './static/js/instance.js';
        $(document).ready(function() {
            new Instance();

            // Step show event
            $("#smartWizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection, stepPosition) {
                if(stepPosition === 'first') {
                    $("#prev-btn").addClass('disabled');
                }else if(stepPosition === 'final'){
                    $("#next-btn").addClass('disabled');
                }else{
                    $("#prev-btn").removeClass('disabled');
                    $("#next-btn").removeClass('disabled');
                }
            });
            // Toolbar extra buttons
            var btnFinish = $('<button></button>').text('Finish')
                .addClass('btn btn-outline-success btn-sm')
                .on('click', function(){ alert('Finish Clicked'); });

            // Smart Wizard
            $('#smartWizard').smartWizard({
                selected: 0,
                theme: 'dots',
                transitionEffect:'fade',
                showStepURLhash: false,
                toolbarSettings: {
                    toolbarPosition: 'bottom',
                    toolbarExtraButtons: [btnFinish],
                }
            });
        });
    </script>
</body>
</html>