body
{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 12pt;
    line-height: 1.5em;
}

#spice-area
{
    height: 100%;
    width: 100%;
    background-color: black;
}

.spice-screen
{
    display: flex;
    width: 100%;
    height: 100%;
    verflow: auto;
    background: rgb(40, 40, 40);
}

.spice-screen canvas {
    margin: auto;
}

.spice-message {
    width: 700px;
    height: 50px;
    overflow: auto;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #efefef;
    border: solid #c3c3c3 2px;
    font-size: 8pt;
    line-height: 1.1em;
    font-family: 'Andale Mono', monospace;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    /* We default the message box to hidden. */
    display: none;
}

.spice-message p {
    margin-bottom: 0em;
    margin-top: 0em;
}

.spice-message-warning {
    color: orange;
}

.spice-message-error {
    color: red;
}
