[Unit]
Description=LightSim daemon
After=network.target
After=dbus.service
After=iscsid.service
After=apparmor.service
After=local-fs.target
After=remote-fs.target
After=systemd-logind.service
After=systemd-machined.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/sysconfig/lightstar.cfg
ExecStart=/bin/bash -c '/usr/bin/lightstar $OPTIONS &'
ExecStop=/usr/bin/kill `/usr/sbin/pidof lightstar`

[Install]
WantedBy=multi-user.target
